@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@import "tailwindcss";

@theme{
  --primary-text-color: #1C252E;
  --font-inter: 'Inter', sans-serif;
  --font-ibm-plex-serif: "IBM Plex Serif", serif;
  --custom-event-bg-opacity: 0.24;
  --palette-common-whiteChannel: 255, 255, 255;
  --fc-small-font-size: 0.813rem;
}


*{
  box-sizing: border-box;
}
/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

html, body{
  width: 100%;
  background-color: #ffffff;
  color: var(--primary-text-color);
  scroll-behavior: smooth;
  overflow-x: hidden;
}
@utility flex-center{
  @apply flex items-center justify-center;
}

@utility font-ibm-plex-serif {
  font-family: var(--font-ibm-plex-serif);
}

@utility text-black-1{
  --tw-text-opacity: 1;
    color: rgb(0 33 79 / var(--tw-text-opacity));

}

@utility text-36 {
  @apply text-[36px] leading-[44px];
}

@utility text-16 {
  @apply text-[16px] leading-[24px];
}



@layer components{
  .auth-form{
    @apply flex max-w-md w-full min-h-screen flex-col justify-center py-5 gap-5 md:gap-8 
  }
  .auth-asset{
    @apply sticky top-0 w-full h-screen bg-gray-100 flex items-center justify-end max-lg:hidden
  }

  .form-item{
    @apply  flex flex-col gap-1.5
  }
  .calendar .fc-event .fc-event-main {

  background-color: rgba(var(--palette-common-whiteChannel) , calc(calc(1 - var(--custom-event-bg-opacity)) * 100%));
 
  padding: 2px 6px;
  border-radius: inherit;
  border-width: 1px;
  border-style: solid;
  border-color: color-mix(in srgb, currentcolor 16%, transparent);
  border-image: initial;
  transition: background-color 300ms cubic-bezier(0.4, 0, 0.2, 1);
 
  }
  .fc-daygrid-event {
    border-radius: 3px;
    font-size: var(--fc-small-font-size);
    position: relative;
    white-space: nowrap;
  }
}
